<mat-card class="semester-form-card">


  <form (ngSubmit)="saveSemester()" [formGroup]="semesterForm">


    <!-- Date custom field -->
    <mat-form-field >
      <mat-label>Date</mat-label>
      <input matInput [matDatepicker]="picker" formControlName="date">
      <mat-datepicker-toggle matSuffix [for]="picker" />
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <!-- Year of study field -->
    <app-my-input-text
      myControlName="yearOfStudy"
      myLabel="Year of Study"
      myPlaceholder="Enter year of study"
      (input)="onValueChange($event)"
    ></app-my-input-text>

    <!-- Academic Years Dropdown field -->
    <app-my-dropdown
      [options]="academicYears"
      myControlName="academicYearId"
      myLabel="Academic Year"
    ></app-my-dropdown>

    <!-- Price field -->
    <app-my-input-text
      myControlName="price"
      myLabel="Price"
      myPlaceholder="Enter price"
    ></app-my-input-text>

    <!-- Renewal Checkbox field -->
    <mat-checkbox
      formControlName="renewal"
    >Renewal</mat-checkbox>



    <div class="form-buttons">
      <button [disabled]="semesterForm.invalid" color="primary" mat-raised-button type="submit">Save Changes</button>
      <button color="warn" mat-raised-button routerLink="/admin/semesters/{{studentId}}" type="button">Cancel</button>
    </div>
  </form>
</mat-card>
